.catWrapper {
  padding: 0 2%;
  text-align: center;
}

.description {
  margin: 40px auto;
  max-width: 400px;
  text-align: center;
}

.loading {
  font-weight: bold;
}

.photoWrapper {
  text-align: center;
}
